.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.navbar {
  background-color: #19323C;
  padding: 10px;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.main-content .section {
  padding: 50px;
  margin: 20px 0;
}

.footer {
  background-color: #19323C;
  color: white;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
